<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danielspeixoto.ticket">

    <application
        android:name=".helper.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".view.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielspeixoto.ticket.view.activity.MainActivity" />
        </activity>
        <activity
            android:name=".view.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.OffersActivity"
            android:label="@string/title_activity_offers"
            android:parentActivityName=".view.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielspeixoto.ticket.view.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".view.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielspeixoto.ticket.view.activity.MainActivity" />
        </activity>
        <activity
            android:name=".view.activity.PaymentsActivity"
            android:label="@string/title_activity_payments"
            android:parentActivityName=".view.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielspeixoto.ticket.view.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".view.activity.TicketDataActivity"
            android:label="@string/title_activity_ticket_data"
            android:parentActivityName=".view.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielspeixoto.ticket.view.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".view.activity.ReportActivity"
            android:label="@string/title_activity_report"
            android:parentActivityName=".view.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielspeixoto.ticket.view.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".view.activity.SearchResultsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.activity.ReportActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- android:launchMode="singleTop"> -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielspeixoto.ticket.view.activity.ReportActivity" />
        </activity>
        <activity
            android:name=".view.activity.UsersActivity"
            android:label="@string/title_activity_users"
            android:parentActivityName=".view.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielspeixoto.ticket.view.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".view.activity.PayTicketActivity"
            android:label="@string/title_activity_pay_ticket"
            android:parentActivityName=".view.activity.TicketDataActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielspeixoto.ticket.view.activity.TicketDataActivity" />
        </activity>
        <activity
            android:name=".view.activity.InsertUserActivity"
            android:label="@string/title_activity_insert_user"
            android:parentActivityName=".view.activity.UsersActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielspeixoto.ticket.view.activity.UsersActivity" />
        </activity>
        <activity
            android:name=".view.activity.UpdateUserActivity"
            android:label="@string/title_activity_update_user"
            android:parentActivityName=".view.activity.UsersActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielspeixoto.ticket.view.activity.UsersActivity" />
        </activity>
        <activity
            android:name=".view.activity.ChangePassActivity"
            android:label="@string/title_activity_change_pass"
            android:parentActivityName=".view.activity.UpdateUserActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielspeixoto.ticket.view.activity.UpdateUserActivity" />
        </activity>
        <activity
            android:name=".view.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".view.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielspeixoto.ticket.view.activity.HomeActivity" />
        </activity>
    </application>

</manifest>